body {
    text-align: center;
    background-color: rgb(93,129, 101);
    font-family: Arial, sans-serif;
}

hl {
    color: rgb(111, 0, 255);
}
button {
    padding:10px ;
    font-size: 18px;
    background-color:  rpg(121,133,67);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
   background-color: #09310c;   
}

.result{
   margin: top 20px;
   font-size: 20px;
}
